.event-info-content {
  border-radius: 15px;
  color: #819ccb;
  /* background-color: rgba(0, 0, 0, 0.459); */
  text-align: center;
  font-size: 2em;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

.venueImg {
  border-radius: 15px;
}

.venue {
  margin-top: 10em;
}

.row {
  margin-top: 4em;
}

.bottom-pad {
  padding-bottom: 2em;
}

table {
  border-collapse: collapse;
  font-size: 0.8em;
  margin-bottom: 3em;
}

table, th, td {
  border: 1px solid #819ccb;
}

.backgroundTable {
  background-color: rgba(240, 248, 255, 0.534);
}


@media screen and (max-width: 601px) {
  .event-info-content  {
    margin-top: 0.5em !important;
  }
  .venueImg {
    padding-left: 1em;
    padding-right: 1em;
    max-width: 20em;
    max-height: 15em;
    text-align: center;
    border-radius: 11% !important;
  }

  h4{
    margin: 0.5em;
  }

  table {
    margin-bottom: 3em;
  }

  table, th, td {
    margin: 1em;
  }

  .venue {
    margin-top: 2em;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
  }
}