body{
    margin:0;
    background:lightgray;
   
  }
  
  .nav-bar{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
  }
  
  .nav-img {
    max-height: 7em;
  }