body{
    margin:0;
    background: url("images/weddingwebsitebg.jpg");
    background-size: 100%;
    font-family: 'Amatic SC', cursive;
  }
  
  .nav-bar{  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-img {
    max-height: 9em;
  }

  .nav-link {
    color: #819ccb;
    text-decoration: none;
    font-size: 1.5em;
  }