body{
    margin:0;
    background:lightgray;
   
  }
  
  .fixed-nav-bar{  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 60%;
    margin-left:20%;
    height:4.24vw;
    background-color:rgba(250,250,250,0);
    font-family: 'Karla', sans-serif;
    font-size:16px;
    box-shadow: 0px 1px 8px rgba(100,100,100,0.0);
    border-radius: 0 0px 8px 8px;
    transition:0.3s linear;
  }
  .scroller{
     background-color:rgba(250,250,250,0.95);
     box-shadow: 0px 1px 8px rgba(100,100,100,0.7);
  }
  
  
  .nav-item{
    transition:color 0.1s ease-in;
    font-size: 1.3vw;
    margin-top:1.30vw;
  }
  
  #RH{
    position:absolute;
    font-size:3vw;
    margin-left:37.4%;
    margin-top:0.3vw;
    font-family:"Montserrat";
    opacity:1;
    animation: fadeIn 4s 0s  forwards;   
  }
  #MES{
    position:absolute;
    font-size:3vw;
    margin-left:52.4%;
    margin-top:0.3vw;
    font-family:"Montserrat";
    animation: fadeIn 4s 0s  forwards;   
  }
  
  #menus{
    position:absolute;
    margin-left:3.9vw;
    font-family:"Montserrat";
    opacity:1;
    animation: fadeIn 6s 0s  forwards;   
  }
  #menus1{
    position:absolute;
    margin-left:41.9vw;
    font-family:"Montserrat";
    opacity:1;
    animation: fadeIn 6s 0s  forwards;   
  }
  #menus2{
    position:absolute;
    margin-left:11.9vw;
    float:right;
    font-family:"Montserrat";
    opacity:1;
    animation: fadeIn 6s 0s  forwards;   
  }
  #menus:hover{
    color:#833d3b;
    cursor:pointer;
  }
  #menus1:hover{
    color:#833d3b;
    cursor:pointer;
  }
  #menus2:hover{
    color:#833d3b;
    cursor:pointer;
  }
  
  
  /*BEGIN RHOMES ANIMATION -----------------------*/
  #animate{
    animation: logo 4s 0s  forwards;   
  } /*
  .square{  
    height:3.5vw;
    width:3.5vw;
    
    top:0;
    left:47.25vw;
    margin-top:6px;
    position:absolute;
    border-radius:60%;
    opacity: 0;
  }*/
  .square{  
    height:3.5vw;
    width:3.5vw;
    
    top:0;
    left:45.9%;
    margin-top:0.28vw;
    position:absolute;
    border-radius:60%;
    opacity: 0;
  }
  .circle{
    height:50%;
    width:50%;
    background-color:rgba(0,0,0,0);
    border: solid 2px black;
    border-radius: 50%;
    position: absolute;
  }
  
  .center{ 
    margin-left:25%;
    margin-top:25%;
  }
  .right{
    margin-left:35.0%;
  }
  .bottom{
    /*original ratio: 94/200px*/
    margin-top:46.95%; 
  }
  .top{
    /*original ratio: 6/200px*/
    margin-top:0.0%;
  }
  .left{
    margin-left:8.5%;
  }
  .mid-left{
    margin-top:23.4%;
    margin-left:-4.5%;
  }
  .mid-right{
    margin-top:23.4%;
    margin-left:49.0%;
  }
  
  /*Below are to move the individual circles*/
  .move{
    animation: shimmy 2.5s forwards;
    animation-direction: alternate-reverse;
  }
  .move2{
    animation: shimmy2 2.5s forwards;
    animation-direction: alternate-reverse; 
  }
  .move3{
    animation: shimmy3 2.5s forwards;
    animation-direction: alternate-reverse; 
  }
  .move4{
    animation: shimmy4 2.5s forwards;
    animation-direction: alternate-reverse; 
  }
  .move5{
    animation: shimmy5 2.5s forwards;
    animation-direction: alternate-reverse; 
  }
  .move6{
    animation: shimmy6 2.5s forwards;
    animation-direction: alternate-reverse; 
  }
  
  /*Below are the actual animations*/
  @keyframes shimmy {
    0% {
      border-color:rgba(200,0,0,0.5);   
    }
    25%{
      border-color:rgba(200,0,0,0.4);
    }
    100% {
      transform: translate(12.5%,22%);
      border-color:rgba(0,0,0,0); 
    }
  }
  @keyframes shimmy2 {
    0% {
      border-color:rgba(0,100,0,0.5);
    }
    25%{
      border-color:rgba(0,100,0,0.5);
    }
    100% {
      transform: translate(-12.5%, -22%);
      border-color:rgba(0,0,0,0);
    }
  }
  @keyframes shimmy3 {
    0%{
      border-color:rgba(0,100,50,0.5);
    }
    25%{
      border-color:rgba(0,0,100,0.5);
    }
    100%{
      transform: translate(12.5%, -22%);
      border-color:rgba(0,0,0,0);
    }
  }
  @keyframes shimmy4 {
    0%{
      border-color:rgba(100,100,0,0.5);
    }
    25%{
      border-color:rgba(100,100,0,0.5);
    }
    100%{
      transform: translate(-12.5%, 22%);
      border-color:rgba(0,0,0,0);
    }
  }
  @keyframes shimmy5 {
    0%{
      border-color:rgba(0,100,100,0.5);
    }
    25%{
      border-color:rgba(0,100,100,0.5);
    }
    100% {
      transform: translate(25%,0);
      border-color:rgba(0,0,0,0);
    }
  }
  @keyframes shimmy6 {
    0%{
      border-color:rgba(100,0,100,0.5);
    }
    25%{
      border-color:rgba(100,0,100,0.5);
    }
    100% {
      transform: translate(-25%,0);
      border-color:rgba(0,0,0,0);
    }
  }
  
  /*Below is Div Spin*/
  @keyframes logo{
    0%{ 
      transform: rotate(0deg);
      
    }
    50%{ 
      transform: rotate(180deg);
    }
    100%{
      background-color: ;
      transform: rotate(360deg);
      opacity:1;
    }
  } 
  
  @keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:0.8;}
  }
  
  /*END RHOMES ANIMATION ************************************/
  
  
  
  /*footer text*/
  
  .footer{
    width:100%;
    height:150px;
    background-color:rgba(0,0,0,0.9);
    font-family:"Montserrat";
    display:block;
    position:relative;
    border:0px solid red;
  }
  
  .footer a{
    text-decoration:none;
    color:lightgray;
    transition:color 0.2s;
  }
  .footer a:hover{
    color:lightgray;
  }
  
  .footer .left{
    position:absolute;
    color:lightgray;
    
    margin-left:14px;
    bottom:0;
    height:20px;
    width:140px;
    border:0px solid green;
  }
  .footer .right{
    color:lightgray;
    position:absolute;
    height:20px;
    width:120px;
    bottom:0;
    right:0;
    border:0px solid yellow;
  }
  .footer .socialMedia{
    height:50px;
    width:14%;
    margin-left:43%;
    border:0px solid red;
    position:absolute;
    bottom:55px;
    color:white; 
    font-size:30px;
  }
  .footer .fa{
    padding:15px;
    width:20px;
    cursor:pointer;
    border:0px solid gray;
  }
  .fa:hover{
    transition:0.3s;
    transform:translate(1px,-2px);
    color:gray;
  }